
.custom-login-btn {
  background-color: #47bac1;
  color: white;
  border: none;
}

.custom-login-btn:hover {
  background-color: #1677ff; /* Ant Design primary blue */
  color: white;
}



body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f7f9;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 40px 50px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

input {
  padding: 10px;
  border: 1px solid #d8e0f0;
  border-radius: 5px;
  background-color: #eaf1ff;
}

button {
  background-color: #3cc0ca;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2babb6;
}

.login-links {
  margin-top: 20px;
  font-size: 14px;
}

.login-links a {
  color: #3cc0ca;
  text-decoration: none;
}

.divider {
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.divider span {
  background-color: white;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider::before {
  content: "";
  height: 1px;
  background-color: #ccc;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
}